#tweets-container article {
  transition: all 0.3s ease;
  opacity: .75;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  width: 60%;
  max-width: 450px;
  background-color: #eee;
  border: 1px solid lightgray;
  border-radius: 5px;
}
#tweets-container article:hover,
#tweets-container article:hover i {
  opacity: 1;
  transition: all 0.3s ease;
  border-color: #494949;
  visibility: visible;
}
#tweets-container header {
  height: 70px;
}
#tweets-container h2, h5 {
  display: inline-block;
}
#tweets-container h2 {
  margin-top: 10px;
  font-size: 1.6em;
}
#tweets-container h5 {
  float: right;
  margin-top: 20px;
  padding-right: 5px;
  font-weight: 300;
  color: #656565;
  font-size: .8em;
}
#tweets-container img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 10px;
}
#tweets-container img, h2 {
  float: left;
}
#tweets-container p {
  margin-top: 0px;
  border-bottom: 1px solid #eee;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-wrap: break-word;
}
#tweets-container p, footer {
  margin-bottom: 0px;
  background-color: white;
}
#tweets-container footer {
  font-size: .6em;
  padding: 10px;
  /* fix chopped border-radius in footer */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#tweets-container footer > i {
  float: right;
  visibility: hidden;
  padding-left: 8px;
  color: #57BBA9;
}